body {
    background-color: lightgoldenrodyellow;
}


.carbonara{
    font-family: 'Courier New', Courier, monospace;
    margin: 8px;
    text-align: center;
    border: 4px, solid black;
}

.picture {
    margin-left: 315px;
}


.description {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 50px;
    color: lightcoral;
    font-size: 30px;

}

.description-paragraph {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 2px;

}


.ingredients {
    text-align: left;
    font-size: 25px;
    padding: 20px;
    padding-left: 0%;
}


#ingredients {
    border: solid black;
    padding: 35px;
    font-size: larger;
}



